
<% include header%>
<script src="/javascripts/createproduct.js"></script>

<div class="panel panel-info" id="infoPanel" style="margin-top: 52px">
    <div class="panel-heading">
        <h3 class="panel-title">What will we do  ?</h3>
    </div>
    <div class="panel-body" id="infoPanelText">
        <div id="bidder"></div>

    </div>
</div>
<div class="container"  id="check_account">
 <div class="row">
   <div class="col-md-2"></div>
   <div class="col-md-8"> 
    <h1  style="color: red;" align="center">Check account</h1>
    <h5 style="color: blue;" align="center">Please check if your account has access</h5>
    <br></br>
    <div class="box-body padding-large">
      <div class="form-group row">
        <label for="executefrom" class="col-md-3 col-xs-12 text-left">Account Address:</label>
        <select class="col-md-9 col-xs-12 form-control" id="comboboxAccountAdd"></select>
      </div>
    </div>     
    <div class="box-body padding-large">
     <div class="form-group row">
       <label for="password" class="col-md-3 col-xs-12 text-left">Password</label>
       <input type="password" name="password" class="col-md-9 col-xs-12 form-control" id="passwordAdd" placeholder="Password">
     </div>
   </div>


   <div class="box-body padding-large">
     <div class="form-group row">
       <label class="col-md-5 col-xs-12 text-left"></label>
       <button type="submit " class="col-md-2 col-xs-12 btn btn-primary " onclick="check();">Check</button>
       <label class="col-md-5 col-xs-12 text-left"></label>
     </div>
   </div>

 </div>
 <div class="col-md-2"></div>
</div>
</div>

<div class="container" style="margin-top: 10px;" id="create_new_raw_product">
 <div class="row">
   <div class="col-md-2"></div>
   <div class="col-md-8"> 
     <h1  style="color: red;" align="center">Create New Raw Product</h1>
     
     <br></br>
     <div class="box-body padding-large">
      <div class="form-group row">
        <label for="nameofproduct" class="col-md-3 col-xs-12 text-left">Name of Product</label>
        <input type="text" name="nameofproduct" class="col-md-9 col-xs-12 form-control" id="nameofproduct" placeholder="Name of Product...">
      </div>
    </div>
    <div class="box-body padding-large">
      <div class="form-group row">
        <label for="unit" class="col-md-3 col-xs-12 text-left">Unit</label>
        <input type="text" name="unit" class="col-md-9 col-xs-12 form-control" id="unit" placeholder="Unit...">
      </div>
    </div>
    <div class="box-body padding-large">
      <div class="form-group row">
        <label for="amount" class="col-md-3 col-xs-12 text-left">Amount</label>
        <input onkeyup="validateamount(this);" type="text" name="amount" class="col-md-9 col-xs-12 form-control" id="amount" placeholder="Amount..." required>
      </div>
    </div>
    <div class="box-body padding-large">
          <div class="form-group row">
            <label for="expirydate" class="col-md-3 col-xs-12 text-left">Expirydate</label>
            <input type="date" name="expirydate" class="col-md-9 col-xs-12 form-control" id="expirydate" placeholder="Expirydate..."
              required>
          </div>
        </div>
    <div class="box-body padding-large">
      <div class="form-group row">
        <label for="executefrom" class="col-md-3 col-xs-12 text-left">Execute From</label>
         <input type="text" name="executefrom" class="col-md-9 col-xs-12 form-control" id="account" value="" disabled>
      </div>
    </div>	   
    
   <div class="box-body padding-large">
     <div class="form-group row">
       <label class="col-md-5 col-xs-12 text-left"></label>
       <button type="submit " class="col-md-2 col-xs-12 btn btn-primary " id="Button" onclick="submit();">Submit</button>
       <label class="col-md-5 col-xs-12 text-left"></label>
     </div>
   </div>
   <div class="col-md-2"></div>
 </div>
</div>
</div>
<br></br><br></br> <br></br><br></br>   <br></br><br><br> <br></br><br><br>


<% include footer%>