  <% include header%>
  <script src="/javascripts/merge.js"></script>
  <!-- Page Content -->
  <input type="hidden" value="<%= add %>" id="add">
  <input type="hidden" value="<%= account %>" id="account">
  <div class="panel panel-info" id="infoPanel" style="margin-top: 52px">
    <div class="panel-heading">
        <h3 class="panel-title">What will we do ?</h3>
    </div>
    <div class="panel-body" id="infoPanelText">
        <div id="bidder"></div>

    </div>
</div>
  <div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8"> 
        <h1  style="color: red;" align="center">Merge Product - Create New Product</h1>

          <br><br>
        <div class="box-body padding-large">
          <div class="form-group row">
            <label for="chooseproduct " class="col-md-3 col-xs-12 text-left">Choose Product</label>
            <select class="col-md-9 col-xs-12 form-control" id="comboboxProduct" multiple></select>
          </div>
        </div>
        <div class="box-body padding-large">
          <div class="form-group row">
            <label for="newproduct" class="col-md-3 col-xs-12 text-left">New Product</label>
            <input type="text" name="newproduct" class="col-md-9 col-xs-12 form-control" id="newproduct" placeholder="New Product...">
          </div>
        </div>
        <div class="box-body padding-large">
          <div class="form-group row">
              <label for="ratio" class="col-md-3 col-xs-12 text-left">Ratio To Product</label>
              <input type="text" name="ratio" class="col-md-9 col-xs-12 form-control" id="ratio" placeholder="Ratio to product">
          </div>
        </div>
        <div class="box-body padding-large">
          <div class="form-group row">
            <label for="amount" class="col-md-3 col-xs-12 text-left">New Product Amount</label>
            <input onkeyup="validateamount(this);" type="text" name="amount" class="col-md-9 col-xs-12 form-control" id="amount" placeholder="New product amount">            
          </div>
        </div>
        <div class="box-body padding-large">
          <div class="form-group row">
            <label for="unit" class="col-md-3 col-xs-12 text-left">New Product Unit</label>
            <input type="text" name="unit" class="col-md-9 col-xs-12 form-control" id="unit" placeholder="New product unit">
          </div>
        </div>
        <div class="box-body padding-large">
      <div class="form-group row">
        <label for="expirydate" class="col-md-3 col-xs-12 text-left">Expirydate</label>
        <input type="date" name="expirydate" class="col-md-9 col-xs-12 form-control" id="expirydate"  placeholder="Expirydate..." required>
      </div>
    </div>
        <div class="box-body padding-large">
          <div class="form-group row">
            <label for="executefrom" class="col-md-3 col-xs-12 text-left">Execute From</label>
            <input type="text" name="executefrom" class="col-md-9 col-xs-12 form-control" id="x" value="<%= account %>" disabled>
          </div>
        </div>
        <div class="box-body padding-large">
          <div class="form-group row">
            <label for="password" class="col-md-3 col-xs-12 text-left">Password</label>
            <input type="password" name="password" class="col-md-9 col-xs-12 form-control" id="password" placeholder="Password">
          </div>
        </div>
        <div class="box-body padding-large">
          <div class="form-group row">
            <label class="col-md-5 col-xs-12 text-left"></label>
            <button type="submit " class="col-md-2 col-xs-12 btn btn-primary " id="Button" onclick="submit();">Submit</button>
            <label class="col-md-5 col-xs-12 text-left"></label>
          </div>
        </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  </div>

  <!-- Footer -->
  <% include footer%>