<% include header%>
<script src="/javascripts/ProductDetail.js"></script>

<div class="panel panel-info" id="infoPanel" style="margin-top: 52px">
    <div class="panel-heading">
        <h3 class="panel-title">What will we do ?</h3>
    </div>
    <div class="panel-body" id="infoPanelText">
        <div id="bidder"></div>

    </div>
</div>


<input type="hidden" value="<%= address %>" id="address">

<div class="container" role="main">
    <div class="row">
        <div class="col-md-4">
            <center>
                <h2 style="color: red;">List parent of this product</h2>
            </center>
            <div id="tableParent" style="margin-left:0%; margin-right:0%;"></div>
        </div>



        <div class="col-md-4">
            <center>
                <h2 style="color: #0026ff"><label id="nameProduct"></label></h2>
            </center>            
           <div class="panel-group">
                <div class="panel panel-success">
                    <div class="panel-heading" >Information</div>
                    <div class="panel-body test">
                        <div class="form-group row">
                            <label for="addressProductTitle">Address*:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                            <label id="addressProduct" style="color:brown;" ></label>
                        </div>
                        <div class="form-group row">
                            <label for="ownerProductTitle">Owner*:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                            <a  id="ownerProduct" style="color:brown; font-weight: bold;" ></a>
                        </div>
                        <div class="form-group row">
                            <label for="unitProductTitle">Unit*:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                            <label id="unitProduct" style="color:brown;"></label>
                        </div>
                        <div class="form-group row">
                            <label for="amountProductTitle">Amount*:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                            <label id="amountProduct" style="color:brown;"></label>
                        </div>
                        <div class="form-group row">
                            <label for="expirydate">Expiry Date*:</label>
                            <label id="expirydate" style="color:brown;"></label>
                        </div>
                        <div class="form-group row">
                            <label for="isConsumed">Consumed*:</label>
                            <input type="checkbox"  disabled id="isConsumed">
                        </div>
                    </div>  
                </div>
            </div>                   
        </div>
           





            <div class="col-md-4">
                <center>
                    <h2 style="color: red;">List child of this product</h2>
                </center>
                <div id="tableChild" style="margin-left:0%; margin-right:0%;"></div>
            </div>
        </div>
    </div>

    <h3 style="color: #0026ff" align="center"> ACTION PRODUCT INFORMATION</h3>

    <div id="tableAction" style="margin-left:15%; margin-right:15%;"></div>



    <br></br>
    <br></br>

    <br></br>



    <!-- Footer -->
    <% include footer%>